[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
arc_testnet = "https://rpc.testnet.arc.network"
base_sepolia = "https://sepolia.base.org"

[etherscan]
arc_testnet = { key = "", url = "https://testnet.arcscan.app/api" }
